######################################################
ssaraopt.platform                  = SENTINEL-1  # [Sentinel-1 / ALOS2 / RADARSAT2 / TerraSAR-X / COSMO-Skymed]
ssaraopt.relativeOrbit             = 124
ssaraopt.startDate                 = 20141031  # YYYYMMDD
######################################################
topsStack.subswath                 = 1 2 3 # '1 2'
topsStack.numConnections           = 6    # comment
topsStack.azimuthLooks             = 5    # comment
topsStack.rangeLooks               = 20   # comment
topsStack.filtStrength             = 0.2  # comment
topsStack.unwMethod                = snaphu  # comment
topsStack.coregistration           = geometry  # [NESD geometry], auto for NESD
#topsStack.excludeDates            =  20240926
######################################################
mintpy.load.autoPath               = yes
mintpy.compute.cluster             = local #[local / slurm / pbs / lsf / none], auto for none, cluster type
mintpy.compute.numWorker           = 40 #[int > 1 / all], auto for 4 (local) or 40 (non-local), num of workers
mintpy.plot.maxMemory              = auto   #[float], auto for 4, max memory used by one call of view.py for plotting.
mintpy.networkInversion.parallel   = yes  #[yes / no], auto for no, parallel processing using dask
mintpy.save.hdfEos5                = yes   #[yes / update / no], auto for no, save timeseries to UNAVCO InSAR Archive format
mintpy.save.hdfEos5.update         = yes   #[yes / no], auto for no, put XXXXXXXX as endDate in output filename
mintpy.save.hdfEos5.subset         = yes   #[yes / no], auto for no, put subset range info in output filename
mintpy.save.kmz                    = yes   #[yes / no], auto for yes, save geocoded velocity to Google Earth KMZ file
mintpy.reference.minCoherence      = 0.7      #[0.0-1.0], auto for 0.85, minimum coherence for auto method
mintpy.troposphericDelay.method    = auto   # pyaps  #[pyaps / height_correlation / base_trop_cor / no], auto for pyaps
mintpy.networkInversion.minTempCoh = 0.6 #[0.0-1.0], auto for 0.7, min temporal coherence for mask
######################################################
miaplpy.load.processor               = isce
miaplpy.multiprocessing.numProcessor = 40
miaplpy.inversion.rangeWindow        = 24   # range window size for searching SHPs, auto for 15
miaplpy.inversion.azimuthWindow      = 7    # azimuth window size for searching SHPs, auto for 15
miaplpy.timeseries.tempCohType       = full     # [full, average], auto for full.
miaplpy.interferograms.networkType   = delaunay # network
miaplpy.unwrap.snaphu.tileNumPixels  = 10000000000     # number of pixels in a tile, auto for 10000000
######################################################
minsar.miaplpyDir.addition           = date  #[name / lalo / no] auto for no (miaply_$name_startDate_endDate))
mintpy.subset.lalo                   = 37.489:37.905,14.747:15.266    #[S:N,W:E / no], auto for no
miaplpy.subset.lalo                  = 37.525:37.825,15.050:15.210    #[S:N,W:E / no], auto for no
mintpy.subset.lalo                   = 37.51:37.88,14.75:15.25    #[S:N,W:E / no], auto for no
miaplpy.subset.lalo                  = 37.55:37.810,15.050:15.200    #[S:N,W:E / no], auto for no
#minsar.miaplpyDir.addition           = Big1  #[name / lalo / no] auto for no (miaply_$name_startDate_endDate))
#miaplpy.subset.lalo                  = 37.516:37.84,14.91:15.31    #[S:N,W:E / no], auto for no
miaplpy.load.startDate               = auto  # 20200101
miaplpy.load.endDate                 = auto
miaplpy.load.startDate               = 20200101  # 20200101
miaplpy.load.endDate                 = 20241231
mintpy.geocode.laloStep              = 0.0008,0.0008
#mintpy.geocode.laloStep              = 0.00013474667624865252,0.00014
miaplpy.timeseries.minTempCoh        = 0.70      # auto for 0.5
mintpy.networkInversion.minTempCoh   = 0.70
######################################################
minsar.insarmaps_flag                = True
minsar.upload_flag                   = True
minsar.insarmaps_dataset             = filt*DS
